<form [formGroup]="form" class="form-horizontal" autocomplete="off" #editUserModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="isView?'Xem chi tiết: '+ staff.name: 'Cập nhật: '+ staff.name" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body fixed-modal-height">
        <p-tabView>
            <p-tabPanel header="Thông tin">
                <div class="row ui-fluid">
                    <div class="col-md-6">
                        <dft-label-validation [control]="form.get('Ma')" [title]="'Mã nhân viên *'">
                        </dft-label-validation>
                        <input formControlName="Ma" type="text" class="form-control" name="Ma" id="Ma"
                        maxlength="32" />
                        <dft-validation [control]="form.get('Ma')"></dft-validation>
                    </div>
                    <div class="col-md-6">
                        <dft-label-validation [control]="form.get('Name')" [title]="'Họ và tên *'">
                        </dft-label-validation>
                        <input formControlName="Name" type="text" class="form-control" name="Name" id="Name"
                        maxlength="64" />
                        <dft-validation [control]="form.get('Name')"></dft-validation>
                    </div>
                </div>

                <div class="row ui-fluid">
                    <div class="col-md-6">
                        <div class="form-group">
                            <dft-label-validation [control]="form.get('Email')" [title]="'Email *'">
                            </dft-label-validation>
                            <input formControlName="Email" class="form-control" maxlength="256" name="abc" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
                            <dft-validation [control]="form.get('Email')"></dft-validation>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <dft-label-validation [control]="form.get('Address')" [title]="'Địa chỉ *'">
                        </dft-label-validation>
                        <input formControlName="Address" type="text" class="form-control" name="Address" id="Address"
                        maxlength="256" />
                        <dft-validation [control]="form.get('Address')"></dft-validation>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveHidden]="isView" [cancelLabel]="isView?'Đóng':'Hủy'" (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
