<div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>Product Master</h1>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-success m-r-5 m-t-5 width-140" (click)="importExcel()">
                        <i class="fa fa-upload"></i>
                        <span style="margin-left: 5px;">Import Excel</span></button>

                        <button type="button" class="btn btn-success m-r-5 m-t-5 width-140" [buttonBusy]="exporting"
                        (click)="exportToExcel()"><i class="fa fa-download"></i>
                        <span style="margin-left: 5px;">Export Excel</span></button>

                    <button type="button" class="btn btn-primary m-r-5 m-t-5 width-130" (click)="createProduct()">
                        <i class="fa fa-plus"></i>
                        <span style="margin-left: 5px;">Add</span></button>
                </div>
            </div>
        </div>
    </section>
    <section class="context px-2">
        <div class="container-fluid">
            <div class="card m-0">
                <div class="card-header">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn bg-blue" (click)="getDataPage()">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control" name="keyword" [placeholder]="'Search for Product Name, Category' | localize" [(ngModel)]="keyword" (keyup.enter)="getDataPage()"
                            tooltipPosition="top" />
                    </div>
                </div>
                <div>
                    <p-table #dt [value]="records" [lazy]="true" [(first)]="first" (onLazyLoad)="getDataPage($event)"
                        [paginator]="paginator" [loading]="loading" [showCurrentPageReport]="showCurrentPageReport"
                        currentPageReportTemplate="Hiển thị: {first}-{last} / {totalRecords}" [rows]="paginatorRows"
                        [totalRecords]="totalCount" [rowsPerPageOptions]="rowsPerPageOptions" [scrollable]="scrollable"
                        scrollHeight="{{scrollHeight}}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="width-30"></th>
                                <th class="width-150" pSortableColumn="productName">Product Name
                                    <p-sortIcon field="productName"></p-sortIcon>
                                </th>
                                <th class="width-150" pSortableColumn="price" >Price
                                    <p-sortIcon field="price"></p-sortIcon>
                                </th>
                                <th class="width-150" pSortableColumn="category">Category
                                    <p-sortIcon field="category"></p-sortIcon>
                                </th>
                                <th class="width-150" pSortableColumn="description">Description
                                    <p-sortIcon field="description"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-record>
                            <tr class="ui-selectable-row">
                                <td class="width-30">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle btn btn-sm btn-transparent btn-action"
                                            type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" (click)="viewProduct(record.id,true)">View</a>
                                            <a class="dropdown-item" (click)="editProduct(record.id)">Edit</a>
                                            <a class="dropdown-item" (click)="deleteProduct(record)">Delete</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="width-150">{{ record.productName }}</td>
                                <td class="width-150">{{ formatNumberWithCommas(record.price)  }}</td>
                                <td class="width-150">{{ record.category }}</td>
                                <td class="width-150">{{ record.description }}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td class="staff" colspan="8" style="text-align:left">{{khongCoDuLieu}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </section>
</div>

