<div [@routerTransition]>
    <section class="content-header" id="tesst">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>Quản Lý Nhân Viên</h1>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-primary m-r-5 m-t-5 width-130"
                    >
                        <i class="fa fa-plus" ></i>
                        <span style="margin-left: 5px;">Thêm mới</span>

                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="context px-2">
        <div class="container-fluid">
            <div class="card m-0">
                <div class="card-header">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn bg-blue" (click)="getDataPage()">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control" name="keyword" [placeholder]="'Nhập từ khóa...'"
                            [(ngModel)]="keyword" (key.enter)="getDataPage()" pTooltip="Nhập chữ vào đây"
                            tooltipPosition="top" />
                    </div>
                </div>
                <div>
                    <p-table #dt [value]="staff" [lazy]="true" (onLazyLoad)="getDataPage($event)"
                        [paginator]="paginator" [loading]="loading" [showCurrentPageReport]="showCurrentPageReport"
                        currentPageReportTemplate="Hiển thị: {first}-{last} / {totalRecords}" [rows]="paginatorRows"
                        [totalRecords]="totalCount" [rowsPerPageOptions]="rowsPerPageOptions" [scrollable]="scrollable"
                        scrollHeight="{{scrollHeight}}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="width-30"></th>
                                <th class="width-50">ID</th>
                                <th class="width-150">Mã</th>
                                <th class="width-150">Name</th>
                                <th class="width-150">Address</th>
                                <th class="width-150">Email</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-record>
                            <tr class="ui-selectable-row">
                                <td class="width-30">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle btn btn-sm btn-transparent btn-action"
                                            type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" (click)="viewDemo2(record.staff.id)">Xem</a>
                                            <a class="dropdown-item" (click)="createDemo2(record.staff.id)">Cập nhật</a>
                                            <a class="dropdown-item" (click)="_deleteDemo2(record.staff)">Xóa</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="width-50">{{ record.staff.id }}</td>
                                <td class="width-150">{{ record.staff.ma }}</td>
                                <td class="width-150">{{ record.staff.name }}</td>
                                <td class="width-150">{{ record.staff.address }}</td>
                                <td class="width-150">{{ record.staff.email }}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td class="staff" colspan="8" style="text-align:left">{{khongCoDuLieu}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </section>
</div>

