<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>Quản Lý Nhân Viên</h1>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-primary m-r-5 m-t-5 width-130" (click)="createDemo2()">
                        <i class="fa fa-plus" ></i>
                        <span style="margin-left: 5px;">Thêm mới</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="context px-2">
        <div class="container-fluid">
            <div class="card m-0">
                <div class="card-header">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn bg-blue" (click)="getDataPage()">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control" name="keyword" [placeholder]="'Nhập mã, họ tên nhân viên, email' | localize" [(ngModel)]="keyword" (keyup.enter)="getDataPage()"
                            tooltipPosition="top" />
                    </div>
                </div>
                <div>
                    <p-table #dt [value]="staff" [lazy]="true" [(first)]="first" (onLazyLoad)="getDataPage($event)"
                        [paginator]="paginator" [loading]="loading" [showCurrentPageReport]="showCurrentPageReport"
                        currentPageReportTemplate="Hiển thị: {first}-{last} / {totalRecords}" [rows]="paginatorRows"
                        [totalRecords]="totalCount" [rowsPerPageOptions]="rowsPerPageOptions" [scrollable]="scrollable"
                        scrollHeight="{{scrollHeight}}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="width-30"></th>
                                <th class="width-50" pSortableColumn="id">ID
                                    <p-sortIcon field="id"></p-sortIcon>
                                </th>
                                <th class="width-150" pSortableColumn="ma">Mã
                                    <p-sortIcon field="ma"></p-sortIcon>
                                </th>
                                <th class="width-150" pSortableColumn="name" >Name
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th class="width-150" pSortableColumn="address">Address
                                    <p-sortIcon field="address"></p-sortIcon>
                                </th>
                                <th class="width-150" pSortableColumn="email">Email
                                    <p-sortIcon field="email"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-record>
                            <tr class="ui-selectable-row">
                                <td class="width-30">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle btn btn-sm btn-transparent btn-action"
                                            type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" (click)="viewDemo2(record.staff,true)">Xem</a>
                                            <a class="dropdown-item" (click)="editDemo2(record.staff)">Cập nhật</a>
                                            <a class="dropdown-item" (click)="deleteDemo2(record.staff)">Xóa</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="width-50">{{ record.staff.id }}</td>
                                <td class="width-150">{{ record.staff.ma }}</td>
                                <td class="width-150">{{ record.staff.name }}</td>
                                <td class="width-150">{{ record.staff.address }}</td>
                                <td class="width-150">{{ record.staff.email }}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td class="staff" colspan="8" style="text-align:left">{{khongCoDuLieu}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </section>
</div>

